body, html {
  margin: 0;
  font-family: "Josefin Slab", Helvetica, sans-serif;
}

.btn {
  text-align: center;
  font-size: 1.6em;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  z-index: 10;
}

.btn-wrap {
  position: fixed;
  bottom: 35%;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.btn:hover {
  color: #d8d8d8;
  background: black;
}
.btn:focus {
  outline: 0;
}

.box {
  width: 25%;
  height: 100vh;
  position: relative;
  float: left;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.hexCode {
  text-align: center;
  width: 100%;
  font-size: 4em;
  top: 40%;
  position: relative;
}

@media (max-width: 1000px) {
  .hexCode {
    font-size: 2.3em;
  }
}
